<div class="container">
    <h2>Student Registration</h2>
    <form class="form-grid">

        <div class="form-column">
            <label for="firstName">First Name:</label>
            <input id="firstName" name="firstName" type="text" [(ngModel)]="firstName" required />

            <label for="lastName">Last Name:</label>
            <input id="lastName" name="lastName" type="text" [(ngModel)]="lastName" required />

            <label for="email">Email:</label>
            <input id="email" name="email" type="email" [(ngModel)]="email" required />

            <label for="phone">Phone Number:</label>
            <input id="phone" name="phone" type="text" [(ngModel)]="phoneNo" required />

            <label for="dob">Date of Birth:</label>
            <input id="dob" name="dob" type="date" [(ngModel)]="dob" [attr.max]="maxDob" required />

            <label for="college">College Name:</label>
            <input id="college" name="college" type="text" [(ngModel)]="collegeName" required />

        </div>

        <div class="form-column">

            <label for="city">City:</label>
            <input id="city" name="city" type="text" [(ngModel)]="city" required />

            <label for="batch">Batch (Year):</label>
            <select id="batch" name="batch" [(ngModel)]="batch" required>
                <option value="">Select Year</option>
                <option *ngFor="let year of batchYears" [value]="year">{{ year }}</option>
            </select>

            <label for="department">Department:</label>
            <input id="department" name="department" type="text" [(ngModel)]="department" required />

            <label for="rollNo">Roll Number:</label>
            <input id="rollNo" name="rollNo" type="text" [(ngModel)]="rollNo" required />

            <label for="password">Password:</label>
            <input id="password" name="password" type="password" [(ngModel)]="password" required />

            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="confirmPassword" required />
        </div>

        <div class="form-actions">
            <button type="button" (click)="register()">Register</button>
        </div>

        <div class="links">
            <a routerLink="/student-login">Back to Login</a>
        </div>
        <div class="back-link">
            <a routerLink="/welcome">← Back to Welcome Page</a>
        </div>
    </form>
</div>